 <script src="https://cdn.tiny.cloud/1/tz1i6w9ceg9fdj6gffn3qptanjx01mzw0pdbp5g0grdv2v0g/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
 {{> footer}}
<div class="container py-5 fade-in ">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-8 d-flex justify-content-center align-items-center">
            <div class="card shadow-2-strong card-registration" style="border-radius: 15px; width: 60rem;">
                <div class="card-body p-4 p-md-5 d-flex flex-column justify-content-center align-items-center">
                    <img class="mb-4" style="width: 15rem;" src="/images/horizontal-negro.svg" alt="logo">
                    <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Register</h3>
                    <form action="/register" method="POST" enctype="multipart/form-data" style="width: 35rem;">
                        <div class="row">
                            <div class="col-md-6 mb-4">
                                <input type="text" name="name" class="form-control {{#if errors.name}}is-invalid{{/if}}"
                                    placeholder="Full name" value="{{ user.name }}"/>
                                {{#if errors.name}}<div class="invalid-feedback">{{ errors.name }}</div>{{/if}}
                            </div>

                            <div class="col-md-6 mb-4">
                                <div>
                                    <input type="text" name="email" class="form-control {{#if errors.email}}is-invalid{{/if}}"
                                        placeholder="Email" value="{{ user.email }}" />
                                    {{#if errors.email}}<div class="invalid-feedback">{{ errors.email }}</div>{{/if}}
                                </div>
                            </div>
                        </div>

                        <div class="mb-4 input-group">
                            <input type="password" name="password" class="form-control {{#if errors.password}}is-invalid{{/if}}"
                                placeholder="Password" />
                            <button class="btn btn-outline-secondary password-toggle c-dark" type="button">
                                <i class="fa fa-eye-slash fa-fw"></i>
                            </button>
                            {{#if errors.password}}<div class="invalid-feedback">{{ errors.password }}</div>{{/if}}
                        </div>

                        <div class="mb-4">
                            <input type="text" name="currentJob" class="form-control"
                                placeholder="Current Job" value="{{ user.currentJob }}" />
                        </div>

                        <div class="mb-4 d-flex align-items-center">
                            <div class="form-outline datepicker w-100">
                                <label for="Biography" class="form-label">Biography</label>
                                <textarea class="form-control" id="bio" name="biography">{{ user.biography }}</textarea>
                            </div>
                        </div>

                        <div class="mb-4">
                            <label for="formFile" class="form-label">Profile Image</label>
                            <input class="form-control" name="avatar" type="file">
                        </div>

                        <div class="mb-4">
                            <label for="formFile" class="form-label">Paste your social profiles</label>
                            <input class="form-control mb-2" name="github" type="text" placeholder="Github">
                            <input class="form-control mb-2" name="linkedin" type="text" placeholder="Linkedin">
                            <input class="form-control mb-2" name="instagram" type="text" placeholder="Instagram">
                            <input class="form-control mb-2" name="facebook" type="text" placeholder="Facebook">
                        </div>

                        <div class="mb-4">
                            <label for="skills" class="form-label">Your skills</label>
                            <select name="skills" class="form-select" aria-label="Default select example" multiple>
                                <option value="javascript">JavaScript</option>
                                <option value="ruby">Ruby</option>
                                <option value="go">Go</option>
                                <option value="java">Java</option>
                                <option value="python">Python</option>
                                <option value="c">C</option>
                                <option value="c++">C++</option>
                                <option value="typescript">TypeScript</option>
                            </select>
                        </div>

                        <div class="mt-4 pt-2 d-flex justify-content-center align-items-center" >
                            <input class="btn btn-primary btn-lg" type="submit" value="Register" />
                        </div>
                        <p class="text-center" style="margin: 50px 0px 0px;">
                            <a href="/login" style="text-decoration: none; color: black; font-size: 20px;">Have an account?</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    tinymce.init({
        selector: 'textarea#bio',
        height: 350,
        menubar: false,
        plugins: [
            'advlist autolink lists link image charmap print preview anchor',
            'searchreplace visualblocks code fullscreen',
            'insertdatetime media table paste code help wordcount'
        ],
        toolbar: 'undo redo | formatselect | ' +
        'bold italic | alignleft aligncenter ' +
        'alignright alignjustify | bullist numlist outdent indent | ' +
        'removeformat',
        content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }'
    });
</script>