<nav>
  <div class="nav-left">
    <ul>
      <li><a href="/"><img src="images/vertical-negro.svg" alt="logo" class="nav-logo"></a></li>
      <li><a href="#">Projects</a></li>
      <li><a href="/developers">Developers</a></li>
    </ul>
  </div>
  <div class="nav-right">
    <ul>
      {{#if currentUser }}
        <li class="nav-item"><a class="nav-link {{active path=path match='/user'}}" aria-current="page" href="/user">{{ currentUser.email }}</a></li>
        <li class="nav-item"><a class="nav-link" aria-current="page" href="/logout">Logout</a></li>
        <a href="/user">
        <div class="rounded-circle border d-flex justify-content-center align-items-center"
          style="width:50px;height:50px" alt="Avatar">
          <img  src="{{currentUser.avatar}}"/>
        </div>
        </a>
      {{else}}
        <li class="nav-item"><a class="nav-link {{active path=path match='/register'}}" aria-current="page" href="/register">Register</a></li>
        <li class="nav-item"><a class="nav-link {{active path=path match='/login'}}" href="/login">Login</a></li>
      {{/if}}
    </ul>
  </div>
</nav>