{{> footer}}
<div class="profile-body fade-in">
  <div class="profile-pic-container">
    <img src="{{user.avatar}}" alt="img" class="profile-pic">
    <div>
      <p class="mt-3 text-center"><small><strong>{{user.currentJob}}</strong></small> </p>
    </div>
  </div>
  <div class="profile-pic-right">
    <div class="profile-header">
      <div class="profile-header-left">
        <h1 class="user-name">{{user.name}}</h1>
        {{#isFounder user.name}}
        <h3 class="founder">{DevSite Founder}</h3>
        {{/isFounder}}
        {{#if (isMyProfile userName=user.name currentUserName=currentUser.name)}}
        <a href="/user/{{user._id}}/edit" style="text-decoration: none; color:black; margin-right: 5px;" title="Edit">
          <i class="fa-solid fa-pen-to-square" style="font-size: 27px;"></i>
        </a>
        <a href="/logout" title="Logout"><i class="fa-solid fa-right-from-bracket"></i></a>
        {{/if}}
      </div>
      <div>
        {{#if user.linkedin}}
        <a href="{{user.linkedin}}" style="text-decoration: none; color:black;" target="_blank"><i
            class="fa-brands fa-linkedin-in"></i></a>
        {{/if}}
        {{#if user.github}}
        <a href="{{user.github}}" style="text-decoration: none; color:black;" target="_blank"><i
            class="fa-brands fa-github"></i></a>
        {{/if}}
        {{#if user.instagram}}
        <a href="{{user.instagram}}" style="text-decoration: none; color:black;" target="_blank"><i
            class="fa-brands fa-instagram"></i></a>
        {{/if}}
        {{#if user.facebook}}
        <a href="{{user.facebook}}" style="text-decoration: none; color:black;" target="_blank"><i
            class="fa-brands fa-facebook"></i></a>
        {{/if}}
      </div>
    </div>
    <hr>

    {{#if user.biography}}
    <div>
      <sub>Biography</sub>
      <p>{{{user.biography}}}</p>
      <sub>Mail</sub>
      <p>{{user.email}}</p>
      {{#if user.skills}}
      <sub>Skills</sub>
      <ul class="list-horizontal">
        {{#each user.skills as |skill|}}
        <li>
          <small class="badge rounded-pill bg-secondary">{{skill}}</small>
        </li>
        {{/each}}
      </ul>
    </div>
    {{/if}}

    {{else}}

    <div class="rounded d-flex flex-column justify-content-center align-items-center"
      style="background-color: rgb(245, 245, 245); height: 20rem;">
      <h3 class="fs-5 mb-3">You have not yet completed your profile. Fill in the form.</h3>
      <a class="btn btn-dark px-3" href="/user/{{user._id}}/edit">Fill it now!</a>
    </div>

    {{/if}}

    <p><sub>Projects</sub></p>

    {{#if (isMyProfile userName=user.name currentUserName=currentUser.name)}}
    <div class="add-project my-4">
      <a href="/create/project">
        <i class="fa-solid fa-plus"></i>
        Add new project
      </a>
    </div>
    {{/if}}
{{!--     <div class="profile-projects fade-in">
      {{#each user.projects as |project|}}
      <div class="profile-project scale-up-center">
        <a href="/project/{{project.id}}">
          <img class="profile-project-img" src="{{project.images}}">
          <div class="profile-project-img-footer">
            <div class="profile-project-skills">
              {{#each project.skills as |skill|}}
              <span class="profile-project-skill">
                <small>{{skill}}</small>
              </span>
              {{/each}}
            </div>
            <h1 class="profile-project-title">{{project.title}}</h1>
          </div>
        </a>
      </div>
      {{/each}}
    </div> --}}
    <div class="profile-projects fade-in">
      {{#each user.projects as |project|}}
      <a href="/project/{{project.id}}" class="project-container scale-up-center">
        <div class="profile-project">
          <img src="{{project.images}}" alt="img" class="profile-project-pic">
          <div class="project-footer">
            <p class="project-title"><strong>{{project.title}}</strong></p>
            <p><sub>by {{project.user.name}}</sub></p>
          </div>
          <hr class="project-footer-hr">
          <ul class="list-horizontal">
            {{#each project.skills as |skill|}}
            <li>
              <small>{{skill}}</small>
            </li>
            {{/each}}
          </ul>
        </div>
      </a>
      {{/each}}
    </div>
    <p><sub>Liked Projects</sub></p>
    <div class="liked-projects fade-in">
      {{#each likedProjects as |project|}}
      <a href="/project/{{project.id}}" class="project-container scale-up-center">
        <div class="project">
          <img src="{{project.images}}" alt="img" class="project-pic">
          <div class="project-footer">
            <p class="project-title"><strong>{{project.title}}</strong></p>
            <p><sub>by {{project.user.name}}</sub></p>
          </div>
          <hr class="project-footer-hr">
          <ul class="list-horizontal">
            {{#each project.skills as |skill|}}
            <li>
              <small>{{skill}}</small>
            </li>
            {{/each}}
          </ul>
        </div>
      </a>
      {{/each}}
    </div>