 {{> footer}}
<div class="developers">
	{{#each users as |user|}}
	<a href="/user/{{user.id}}" class="developer-container scale-up-center">
		<div class="developer">
			<img src="{{user.avatar}}" alt="img" class="developer-pic">
			<p><strong>{{user.name}}</strong></p>
			<p>{{user.currentJob}}</p>
			<ul class="list-horizontal">
				{{#each user.skills as |skill|}}
				<li>
					<small>{{skill}}</small>
				</li>
				{{/each}}
			</ul>
		</div>
	</a>
	{{/each}}
</div>
<form action="" method="get" class="developers-form">
	<div class="form-input-vertical">
		<sub>Name</sub>
		<div class="form-input-horizontal">
			<input id="name" type="text">
		</div>
	</div>
	<div class="form-input-vertical">
		<sub>Current job</sub>
		<div class="form-input-horizontal">
			<input id="currentJob" type="text">
		</div>
	</div>
	<div class="form-input-vertical">
		<sub>Skill</sub>
		<div class="form-input-horizontal">
			<input id="skill" type="text">
		</div>
	</div>
</form>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/user.js"></script>