 {{> footer}}
<div class="projects fade-in">
	{{#each projects as |project|}}
	<a href="/project/{{project.id}}" class="project-container scale-up-center">
		<div class="project">
			<img src="{{project.images}}" alt="img" class="project-pic">
			<p class="project-title"><strong>{{project.title}}</strong></p>
			<p><sub>by {{project.user.name}}</sub></p>
			<ul class="list-horizontal">
				{{#each project.skills as |skill|}}
				<li>
					<small>{{skill}}</small>
				</li>
				{{/each}}
			</ul>
		</div>
	</a>
	{{/each}}
</div>
<form action="" method="get" class="developers-form">
	<div class="form-input-vertical">
		<sub>Title</sub>
		<div class="form-input-horizontal">
			<input id="title" type="text">
		</div>
	</div>
	<div class="form-input-vertical">
		<sub>Skill</sub>
		<div class="form-input-horizontal">
			<input id="skill" type="text">
		</div>
	</div>
</form>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/project.js"></script>