<div class="project project-details scale-up-center">
	<h2 class="project-title"><strong>{{project.title}}</strong></h2>
	<p><sub>by {{project.user.name}}</sub></p>
	<img src="{{project.images}}" alt="img" class="project-pic project-details-pic">
	<sub class="project-details-sub">- Description -</sub>
	<p>{{{project.description}}}</p>
	<sub class="project-details-sub">- Skills used -</sub>
	<ul class="list-horizontal">
		{{#each project.skills as |skill|}}
		<li>
			<small>{{skill}}</small>
		</li>
		{{/each}}
	</ul>
	<i data-id="{{project.id}}" class="like-action fa-solid fa-heart {{#if liked}}icon-liked{{/if}}">
	</i>
</div>

{{!-- Comment --}}
<div class="d-flex flex-row add-comment-section mt-4 mb-4">
	<img class="img-fluid img-responsive rounded-circle mr-2 m-2" src="{{currentUser.avatar}}" width="50">
	<input type="text" class="form-control mr-3" placeholder="Add comment">
</div>
	<button class="btn btn-primary" type="button">Comment</button>

{{#each project.comments as |comment|}}
	{{comment.user.name}}
	{{comment.comment}}
{{/each}}

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/axios.js"></script>