<div class="profile-body">
  <div class="profile-pic-container">
    <img src="{{user.avatar}}" alt="img" class="profile-pic">
  </div>
  <div class="profile-pic-right">
    <div class="profile-header">
      <div class="profile-header-left">
        <h1 class="user-name">{{user.name}}</h1>
        <i class="fa-solid fa-heart"></i>

        <a href="/user/{{user._id}}/edit">
          <i class="fa-solid fa-pen-to-square"></i>
        </a>

      </div>
      <div>
        <i class="fa-brands fa-github"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-facebook"></i>
      </div>
    </div>
    <hr>
    <sub>- Bio -</sub>
    <p>{{user.biography}}</p>
    <sub>- Mail -</sub>
    <p>{{user.email}}</p>
    <sub>- Current job -</sub>
    <p>{{user.currentJob}}</p>
    <sub>- Skills -</sub>
    <ul class="list-horizontal">
      {{#each user.skills as |skill|}}
      <li>
        <small>{{skill}}</small>
      </li>
      {{/each}}
    </ul>
    <sub>- Projects -</sub>
    <div class="projects">
      {{#each user.projects as |project|}}
      <a href="/project/{{project.id}}" class="project-container">
        <div class="project">
          <img src="{{project.images}}" alt="img" class="project-pic">
          <p><strong>{{project.title}}</strong></p>
          <ul class="list-horizontal">
            {{#each project.skills as |skill|}}
            <li>
              <small>{{skill}}</small>
            </li>
            {{/each}}
          </ul>
        </div>
      </a>
      {{/each}}
    </div>
  </div>
</div>